
<nav class="navbar">
  <div class="navbar-container container">
      <input type="checkbox" name="" id="">
      <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
      </div>
      <ul class="menu-items">
          <li><a href="#home"><b>Home</b></a></li>
          <li><a href="#about"><b>About</b></a></li>
          <li><a routerLink="/students"><b>Students</b></a></li>
          <li><a routerLink="/gallery"><b>Gallery</b></a></li>
          <li><a routerLink="/faculty"><b>Faculty</b></a></li>
          <li><a routerLink="/contact"><b>Contact Us</b></a></li>
      </ul>
      <h1 class="logo"><mat-icon style="font-size: 27px; margin-bottom: 1.1rem;">school</mat-icon>E M M P S</h1>
  </div>
</nav>
