<section id="gallery" style="background-color: #f1ebf1;">
  <div style=" background-color: #cdf1e6;">
    <h1 style="text-align: center; margin-top: 3rem; font-size: 2rem;"><b>{{name}}</b></h1>
    <div class="container" style=" background-color: #c4f8fd;">

      <div>
        <img src="/../assets/ForDashboard/img/Gallery/1.jpg" alt="">
      </div>

      <div>
        <img src="/../assets/ForDashboard/img/Gallery/2.jpg" alt="">
      </div>

      <div>
        <img src="/../assets/ForDashboard/img/Gallery/3.jpg" alt="">
      </div>

      <div>
        <img src="/../assets/ForDashboard/img/Gallery/4.jpg" alt="">
      </div>

      <div>
          <img src="/../assets/ForDashboard/img/Gallery/5.jpg" alt="">
      </div>

      <div>
        <img src="/../assets/ForDashboard/img/Gallery/6.jpg" alt="">
      </div>

      <div>
        <img src="/../assets/ForDashboard/img/Gallery/7.jpg" alt="">
      </div>

      <div>
        <img src="/../assets/ForDashboard/img/Gallery/8.jpg" alt="">
      </div>

      <div>
        <img src="/../assets/ForDashboard/img/Gallery/9.jpg" alt="">
      </div>

      <div>
        <img src="/../assets/ForDashboard/img/Gallery/10.jpg" alt="">
      </div>

      <div>
        <img src="/../assets/ForDashboard/img/Gallery/11.jpg" alt="">
      </div>

      <div>
        <img src="/../assets/ForDashboard/img/Gallery/12.jpg" alt="">
      </div>

      <div>
        <img src="/../assets/ForDashboard/img/Gallery/13.jpg" alt="">
      </div>

      <div>
        <img src="/../assets/ForDashboard/img/Gallery/14.jpg" alt="">
      </div>

      <div>
        <img src="/../assets/ForDashboard/img/Gallery/15.jpg" alt="">
      </div>

      <div>
        <img src="/../assets/ForDashboard/img/Gallery/16.jpg" alt="">
      </div>

    </div>
  </div>
</section>
