<section id="team" class="bg">
  <div class="title" style="text-align: center;">
    <h2 style="text-align: center; font-size: 2rem;"><b>{{team}}</b></h2>
  </div>
  <div class="content-global-notreEquipe">
    <div class="content-people">
        <img src="/../assets/ForDashboard/img/team/DSC_0014.JPG" alt="">
        <div class="content-text">
            <div class="arrow-content"><i class="fas fa-angle-up"></i></div>
            <div class="textes">
                <h2>Alok Ranjan</h2>
                <h4>Head Master</h4>
                <p class="description">M.A, B.Ed, V.B.T.C <br> (From - 22/11/2010)</p>
            </div>
        </div>
    </div>

    <div class="content-people">
        <img src="/../assets/ForDashboard/img/team/DSC_0011.JPG" alt="">
        <div class="content-text">
            <div class="arrow-content"><i class="fas fa-angle-up"></i></div>
            <div class="textes">
                <h2>Sandeep Pandey</h2>
                <h4>Assistant Teacher</h4>
                <p class="description">B.Sc, B.T.C <br> (From - 01/10/2019)</p>
            </div>
        </div>
    </div>

    <div class="content-people">
        <img src="/../assets/ForDashboard/img/team/DSC_0029.JPG" alt="">
        <div class="content-text">
            <div class="arrow-content"><i class="fas fa-angle-up"></i></div>
            <div class="textes">
                <h2><b>Vinod Maurya</b></h2>
                <h4>Assistant Teacher</h4>
                <p class="description">B.A, B.T.C <br> (From - 14/09/2010)</p>
            </div>
        </div>
    </div>

    <div class="content-people">
        <img src="/../assets/ForDashboard/img/team/DSC_0030.JPG" alt="">
        <div class="content-text">
            <div class="arrow-content"><i class="fas fa-angle-up"></i></div>
            <div class="textes">
                <h2>Vibha Dubey</h2>
                <h4>Assistant Teacher</h4>
                <p class="description">B.Sc, B.T.C <br> (From - 02/07/2016)</p>
            </div>
        </div>
    </div>
  </div>
  <div class="content-global-notreEquipe">
    <div class="content-people">
        <img src="/../assets/ForDashboard/img/team/DSC_0014.JPG" alt="">
        <div class="content-text">
            <div class="arrow-content"><i class="fas fa-angle-up"></i></div>
            <div class="textes">
                <h2>Akhilesh Kumar</h2>
                <h4>Assistant Teacher</h4>
                <p class="description">B.A, B.T.C <br> (From - 03/10/2019)</p>
            </div>
        </div>
    </div>

    <div class="content-people">
        <img src="/../assets/ForDashboard/img/team/DSC_0029.JPG" alt="">
        <div class="content-text">
            <div class="arrow-content"><i class="fas fa-angle-up"></i></div>
            <div class="textes">
                <h2><b>Rajaneesh Pandey</b></h2>
                <h4>Siksha Mitra</h4>
                <p class="description">B.A, D.B.T.C <br> (From - 15/09/2004)</p>
            </div>
        </div>
    </div>

    <div class="content-people">
      <img src="/../assets/ForDashboard/img/team/DSC_0011.JPG" alt="">
      <div class="content-text">
          <div class="arrow-content"><i class="fas fa-angle-up"></i></div>
          <div class="textes">
              <h2>Pushpa Pandey</h2>
              <h4>Siksha Mitra</h4>
              <p class="description">B.A, D.B.T.C <br> (From - 26/02/2009)</p>
          </div>
      </div>
  </div>
  </div>

</section>
